# Dependencies
node_modules/

# Build output
dist/
dist-ssr/
*.local

# Vite / Module Federation
.vite/

# Test / coverage
coverage/
cypress/screenshots/
cypress/videos/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
